$container-width: 1300px;
$font-stack: Heebo, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Breakpoints
$mobile-small: 320px;
$mobile-normal: 480px;
$tablet-small: 680px;
$desktop-small: 960px;
$desktop: 1140px;
$desktop-large: 1380px;